body {
     margin: 0;
     font-family: "Raleway","Helvetica","Arial",sans-serif;
     background-color: rgb(105, 87, 87);
     line-height: 1.5;
     font-size: 20px;
}
ul {
     margin: 0;
     list-style-type: none;
}
a {
     text-decoration: none;/* щоб не було видно лінії */
     color: inherit;
}

.header {
     height: calc(100vh - 40px);/*це для того щоб підняти фон затемнення картинки трішки вище , щоб співпадало з зображенням*/
     padding:20px;
     display: flex;/*дає можливість у майбутньому використати конкретний відступ для елементів типу назви та кнопок по певній властивості яку задати можна вже дочірньому елементу*/
     flex-direction: column;
     background-image: url('https://opencages.com.ua/_nuxt/img/homepage.0151b74.jpg.webp');
     background-repeat: no-repeat;
     background-size: cover;/*робить можливим розтяг/стиснення картинки за розміром екрану браузера*/
     background-position: 50%;/*дає можливість вказати початок розташування картинки*/
     background-attachment: fixed;/*дає можливість закріпити картинку щоб при скролі з'являлася нова що йде нижче цієї по сторінці. При цьому нижня картинка так сказати налізає на верхню.*/
}
.header::after {
     content: "";
     background: #0c3632;
     position: absolute;
     opacity: .85;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     transition: all .25s ease;
     
     
     /* top: 0;
     transition: all .25s ease;
     width: 100%; */
}
.alignment-content {
     max-width: 1280px;
     margin: auto;
     width: 100%;
}

.nav {
     position: relative;
     z-index: 1;
     display: flex;
     /* flex: 1; */
     align-items: center;
     justify-content: space-between;
     /* margin-block-start: 0.67em; */
}

.logo-link {
     display: flex;
     height: 100%;
     align-items: end;
}
.logo-img {
     height: 40px;
}
.nav-list {
     display: flex;
     align-items: end;
}
.nav-list li {
     padding: 0 10px;
     color: white;
     font-weight: 600;
     font-size: .875rem;
}
.nav-list li:last-of-type {
     padding-right: 0;

}
.nav-list-link {
     position: relative;
     transition: all .25s ease; /* не потрібне мабуть*/
}
.nav-list-link::after {
     content: "";
     background: #17baaa;
     height: 2px;
     width: 100%;
     position: absolute;
     bottom: -8px;
     left: 0;
     transform: scaleX(0);
     transition: all .25s ease;
}
.nav-list-link:hover {
     color: #17baaa;
}
.nav-list-link:hover::after {
     transform: scaleX(1);
}
.nav-list li:last-of-type a { 
     display: flex;
     height: 30px;
     align-items: center;
     font-size: 15px;
     padding: 0 10px;
     border-radius: 3px;
     background: #dd3d53;
     font-weight: 700;
}

/* lsat-child, first-child - дає можливість обрати елемент певний із списку */
/* nth-child (n) - дає можливість обрати енний елемент по порядку не важливо який саме тип елементу після батьківського */
/* nth-of-type(n) - а він дає можливість обрати енний елемент по порядку АЛЕ вже шукає з привязкою певного елемента 
синтаксис наступний до прикладу вище .nav-list li:nth-of-type(3) буде означати що він знайде третій елемент у батьківському саме типу li*/

.heart-icon {
     margin-right: 10px;
     font-size: .875rem;
}

.nav-list li:last-of-type a svg {
     width: 1em;
}
.nav-list li:last-of-type a:hover {
     background-color: #c9233a;
     color: #fff;
     transition: all .25ms ease;
}
.nav-toggle {
     font-size: 2rem;
     color: #fff;
}
.burger-icon {
     display: inline-block;
     font-size: inherit;
     height: 1em;
     vertical-align: -0.125em;
     cursor: pointer;
 }
 /* нижче прописується поведінка бургеркнопки, спочатку задаємо їй не видимість. наступним стилем вже вказуємо що вона стає видимою коли розширення буде до 992 px і стандартна навігація ставатиме не видимою. */
.nav-toggle {
     display: none;
}

.header-content {
     margin: auto 0;
     position: relative;
     z-index: 1;
     /* display: block;
     font-size: 2em;
     margin-block-start: 0.67em;
     margin-block-end: 0.67em;
     margin-inline-start: 0px;
     margin-inline-end: 0px;
     font-weight: bold; */
}
.header-content-title {
     font-size: 3.5rem;
     color: white;
     line-height: 1.5;/*висота лінії рядка відносно батьківського елементу*/

}
.header-content-title-green {
     color: #17baaa;
}
.header-content-btn {
     display: block;
     background: #17baaa;
     color: #fff;

     align-items: center;
     border: 0;
     box-sizing: border-box;
     display: inline-flex;
     font-size: 14px;
     font-size: .875rem;
     font-weight: 700;
     justify-content: center;
     max-width: 100%;
     min-height: 40px;
     outline: none;
     padding: 0 30px;
     text-align: center;
     text-transform: uppercase;
     transition: all .25s ease;
}

.header-content-btn:hover {
     background-color: #129185;
}
 @media  screen and (max-width:992px){
     .nav-list {
          display: none;
     }
     .nav-toggle {
     display: block;
     }
 }

 .ffjj {
     box-sizing: border-box;
     margin: auto;
     margin-top: auto;
     margin-right: auto;
     margin-bottom: auto;
     margin-left: auto;
     max-width: 1280px;
     padding-left: 20px;
     padding-right: 20px;
     width: 100%;
 }





 /* @media  screen and (min-width:992px){
     .nav-toggle {
          display: none;
     }
     .nav-toggle {
     display: none;
 }
 } */
/* .h1 {
     text-align: left;
     position: relative;
     z-index: 1;
}
.white-main-text {
     color: #fff;
}  
.color-main-text {
     color: #17baaa;
} */